/* Modified version of this source: https://thecodeplayer.com/walkthrough/css3-family-tree */

/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree a.featureVal {
    border: 0;
    padding: 0;
}

.tree a.featureVal:hover {
    border: 0;
    padding: 0;
}

.tree a.leaf {
    background-color: #6b63ff39;
}

.tree a.leaf:hover {
    background-color: #6b63ff39;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #6C63FF;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #6C63FF;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #6C63FF;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #6C63FF;
	width: 0; height: 20px;
}

/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before,  
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color: #6C63FF;
}

.tree a:hover+ul li:last-child::before{
    border-right: 3px solid #6C63FF;
}

.tree a:hover+ul::before{
    border-left: 3px solid #6C63FF;
}

.tree a:hover+ul ul::before{
    border-left: 3px solid #6C63FF;
}

.tree a:hover+ul li::before, 
.tree a:hover+ul li::after{
    border-top: 3px solid #6C63FF;
}

.tree a:hover+ul li:first-child::before, 
.tree a:hover+ul li:last-child::after{
	border: 0 none;
}

.tree a:hover+ul li::after{
	border-left: 3px solid #6C63FF;
}