svg.custom .node circle {
	fill: rgba(255, 0, 0, 0);
	stroke: #6C63FF;
	stroke-width: 1.5px;
}

svg.custom .node text {
	font-size: 11px;
    margin: 2px;
	fill: #a29bfe;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #6C63FF;
	stroke-width: 1.5px;
}